* {
    font-family: sans-serif, monospace;
}
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(160deg, #FEFDED, #FFCBCB, #FA7070);
}
h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#container {
    height: 80%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 16px;
    border-color: #ec8482cb;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: #FA7070;
    box-shadow: 0 4px 30px #9b3f3e;
}
#display {
    height: 20%;
    width: 97%;
    margin: 1% auto 1% auto;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.828);
    text-align: right;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-right: 4%;
    padding-top: 7%;
    font-weight: bold;
    font-size: 2.5rem;
    border-radius: 16px;
    background: #fefdedbf;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.row {
    display: flex;
    height: 16%;
    justify-content: space-between;
}
button {
    height: 85%;
    width: 19%;
    border-radius: 16px;
    border-color: salmon;
    box-shadow: 0 4px 6px rgba(35, 35, 35, 0.629);
    margin: 1% auto;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2rem;
}
button:hover {
    background: rgba(255, 0, 153, 0.859);
    opacity: 0.9;    
}
#zero {
    width: 44%;
}
.special-button {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: #0b4e7adb;
}
.operator {
    font-size: 3rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: #FFE4C9;
}
.number {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: #fefdedbe;
}
